<ul class="nav nav-tabs">
  <li role="presentation" [ngClass]="{'active':pestanaSeleccionada === 'uno'}">
    <a (click)="cambiarPestana('uno')">Insertar Producto</a>
  </li>
  <li role="presentation" [ngClass]="{'active':pestanaSeleccionada === 'dos'}">
    <a (click)="cambiarPestana('dos')">Mostrar Productos</a>
  </li>

</ul>

<div *ngIf="pestanaSeleccionada==='uno'" class="container">

  <h1 class="h1Class">Insertar un producto en un detalle de orden</h1>

  <ng-select [items]="workOrder" bindLabel="description" bindValue="idWorkOrder" placeholder="Seleccione una Orden de trabajo" (change)="getWorkDetailsByOrder()"
    [(ngModel)]="selectedWorkOrder">
  </ng-select>
  <br>
  <ng-select *ngIf="selectedWorkOrder>0" [items]="workDetail" bindLabel="description" bindValue="idWorkDetail" placeholder="Seleccione un detalle de trabajo"
    [(ngModel)]="selectedWorkDetail">
  </ng-select>
  <br>
  <div *ngIf="selectedWorkDetail>0">

    <input type="text" class="form-control" placeholder="Nombre del producto">
    <br>
    <input type="text" class="form-control" placeholder="Cantidad">
    <br>
    <ng-select [items]="ordenado" bindLabel="name" placeholder="Seleccione si el producto ya fue ordenado" [(ngModel)]="selectedCity">
    </ng-select>
    <br>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="number" class="form-control" placeholder="Precio">
      <span class="input-group-addon">.00</span>
    </div>
    <br>
    <div class="h1Class">
      <button class="btn btn-primary">Insertar Producto</button>
    </div>

  </div>


</div>

<div *ngIf="pestanaSeleccionada==='dos'" class="container">

  <h1 class="h1Class">Mostrar productos</h1>
  <ng-select [items]="workOrder" bindLabel="description" bindValue="idWorkOrder" placeholder="Seleccione una Orden de trabajo" (change)="getWorkDetailsByOrder()"
    [(ngModel)]="selectedWorkOrder">
  </ng-select>
  <br>
  <ng-select *ngIf="selectedWorkOrder>0" [items]="workDetail" bindLabel="description" bindValue="idWorkDetail" placeholder="Seleccione un detalle de trabajo"
    [(ngModel)]="selectedWorkDetail">
  </ng-select>
  <br>
</div>
