<ul class="nav nav-tabs">
  <li role="presentation" [ngClass]="{'active':pestanaSeleccionada === 'uno'}">
    <a (click)="cambiarPestana('uno')">Insertar orden de trabajo</a>
  </li>
  <li role="presentation" [ngClass]="{'active':pestanaSeleccionada === 'dos'}">
    <a (click)="cambiarPestana('dos')">Insertar un detalle del trabajo</a>
  </li>
  <li role="presentation" [ngClass]="{'active':pestanaSeleccionada === 'tres'}">
    <a (click)="cambiarPestana('tres')">Insertar un detalle del vehículo</a>
  </li>
</ul>

<div *ngIf="pestanaSeleccionada==='uno'" class="container">
  <div id="pricing" class="container-fluid">
    <div class="row slideanim">
      <div class="col-sm-2 col-xs-12">   </div>
      <div class="col-sm-8 col-xs-12">
        <div class="panel panel-default ">
          <div class="panel-heading text-center">
            <h1>Insertar una orden de trabajo</h1>
          </div>
          <div class="panel-body">
            <div class="form-group" style="width: 85%; margin-left: 10%">
              <input type="text" class="form-control" id="description" placeholder="Descripción de la solicitud" required [(ngModel)]="workOrder.description">
            </div>
            <div class="form-group" style="width: 85%; margin-left: 10%">
              <input type="date" class="form-control" id="deliveryDate" placeholder="Fecha aproximada de entrega" required [(ngModel)]="workOrder.deliveryDate">
            </div>
            <div class="form-group" style="width: 85%; margin-left: 10%">
              <ng-select [items]="clients" bindLabel="idClient" bindValue="idClient" placeholder="Seleccione un cliente" [(ngModel)]="workOrder.client.idClient">
              </ng-select>
            </div>
            <div class="form-group" style="width: 85%; margin-left: 10%">
              <ng-select [items]="vehicles" bindLabel="vehicleId" bindValue="vehicleId" placeholder="Seleccione un vehiculo" [(ngModel)]="workOrder.vehicle.vehicleId">
              </ng-select>
            </div>
            <a style="margin-left: 30%"   type="submit" class="btn btn-cb" (click)="insertWO()">Insertar orden de trabajo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="pestanaSeleccionada==='dos'" class="container">
  <div id="pricing" class="container-fluid">
    <div class="row slideanim">
      <div class="col-sm-2 col-xs-12">   </div>
      <div class="col-sm-8 col-xs-12">
        <div class="panel panel-default ">
          <div class="panel-heading text-center">
            <h1>Insertar un detalle del trabajo</h1>
          </div>
          <div class="panel-body">
            <div class="form-group" style="width: 95%; margin-left: 5%">
              <ng-select [items]="workOrders" bindLabel="idWorkOrder" bindValue="idWorkOrder" placeholder="Seleccione una orden de trabajo" [(ngModel)]="workDetail.workOrder.idWorkOrder">
              </ng-select>
            </div>
            <div class="form-group" style="width: 95%; margin-left: 5%">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" placeholder="Precio de mano de obra" [(ngModel)]="workDetail.price">
                <span class="input-group-addon">.00</span>
              </div>
            </div>
            <div class="form-group" style="width: 95%; margin-left: 5%">
              <input type="text" class="form-control" id="description" placeholder="Descripción del detalle" required [(ngModel)]="workDetail.description">
            </div>
            <a style="margin-left: 30%;"  type="submit" class="btn btn-cb" (click)="insertDT()">Insertar detalle de trabajo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="pestanaSeleccionada==='tres'" class="container">
  <div id="pricing" class="container-fluid">
    <div class="row slideanim">
      <div class="col-sm-2 col-xs-12">   </div>
      <div class="col-sm-8 col-xs-12">
        <div class="panel panel-default ">
          <div class="panel-heading text-center">
            <h1>Insertar un detalle del vehículo</h1>
          </div>
          <div class="panel-body">
            <div class="form-group" style="width: 85%; margin-left: 10%">
              <input type="number" class="form-control" min="1" placeholder="Cantidad" [(ngModel)]="vehicleDetail.quantity">
            </div>
            <div class="form-group" style="width: 85%; margin-left: 10%">
              <input type="text" class="form-control" placeholder="Observaciones" [(ngModel)]="vehicleDetail.observations">
            </div>
            <div class="form-group" style="width: 85%; margin-left: 10%">
              <ng-select [items]="workOrders" bindLabel="idWorkOrder" bindValue="idWorkOrder" placeholder="Seleccione una orden de trabajo" [(ngModel)]="vehicleDetail.workOrder.idWorkOrder">
              </ng-select>
            </div>
            <div class="form-group" style="width: 85%; margin-left: 10%">
              <ng-select [items]="types" bindLabel="description" bindValue="idTypeDetail" placeholder="Seleccione el tipo de dellate" [(ngModel)]="vehicleDetail.typeDetail.idTypeDetail">
              </ng-select>
            </div>
            <div class="form-group" style="width: 85%; margin-left: 10%">
              <ng-select [items]="conditions" bindLabel="description" bindValue="idCondition" placeholder="Seleccione el estado" [(ngModel)]="vehicleDetail.condition.idCondition">
              </ng-select>
            </div>
            <a style="margin-left: 30%;" type="submit" class="btn btn-cb" (click)="insertDV()">Insertar detalle de trabajo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
