.container {
  width: 60%;
  height: 60%;
}

.h1Class {
  text-align: center;
}

table {
  width: 100%;
  border-color: rgb(15, 88, 121);

}


.panel {
  border-color: rgb(60, 180, 144);
  border-width: 2px;
  width: 70%;
  margin-top: 25px;
  margin-left: 40px;
}

.button {
  margin-left: 60%;
  hover

{
  background-color: rgb(22, 120, 185);
  color: rgb(22, 120, 185);
  box-shadow: inset 0 0 0 3px rgb(15, 88, 121);
  ;
}
}
