<div class="panel panel-default">

  <div class="panel-body">

    <table class="table table-bordered table-striped">
      <thead class="thead">
        <tr>
          <td>Cédula</td>
          <td>Nombre</td>
          <td>Apellidos</td>
          <td>Número</td>
          <td>Dirección</td>
          <td>Correo</td>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let client of clients" (click)="click(client)">
          <td>{{client.idClient}}</td>
          <td>{{client.clientName}}</td>
          <td>{{client.lastName}}</td>
          <td>{{client.phoneNumber}}</td>
          <td>{{client.address}}</td>
          <td>{{client.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<button class="btn btn-ttc" (click)="metodo()">Elegir</button>
