.container {
  width: 60%;
  height: 60%;
}

.h1Class {
  text-align: center;
}

table {
  width: 100%;
  border-color: rgb(15, 88, 121);

}


.panel {
  border-color: rgb(60, 180, 144);
  border-width: 2px;
  width: 70%;
  margin-top: 25px;
  margin-left: 40px;
}

.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  margin-left: 60%;
  background-color: #1abc9c !important;
  color: snow;
}
